*{
	padding: 0;
	margin: 0;
}
div.container{
	background-color: bisque;
	margin: 125px;
	padding: 30px;
	text-align: center;
}
form#frmLogin{
	background-color: aqua;
	padding: 20px;	
}
h3#title{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgb(128, 105, 128);
}
div.form-group{
	margin-bottom: 5px;
	margin-top: 5px;
}
input.form-control{
	padding: 2px;
}
input.buttom{
	background-color: burlywood;
	border-radius: 5px;
	padding: 3px;
	color:gray;
}
body{
	display: flex;
	align-items :center;
	justify-content: center;
}